<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    projeto
    </title>
    <style>
        body {
            background-color: black;
            color: white;
        }
        
        fieldset {
           max-width: 30%;
        }

    </style>
</head>
<body>

    <nav><a href="/">Usuarios</a></nav><br>
    
    <form method="post" action="/pessoas/criar">
      <fieldset>
       <legend>Adicionar Pessoas</legend>

       <label>Nome:</label><br>
       <input type="text" id="nome" name="nome" placeholder="Digite o nome"><br><br>

       <label>Sobrenome:</label><br>
        <input type="text" id="sobrenome" name="sobrenome" placeholder="Digite o sobrenome"><br><br>

        <label>Idade:</label><br>
        <input type="number" id="idade" name="idade" placeholder="Digite a idade"><br><br>

        <input type="submit" value="Enviar">
      </fieldset>
    </form>
</body>
</html>