<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    projeto
    </title>
    <style>
        body {
            background-color: black;
            color: white;
        }
        
        a {
            color: white;
       } 

        li {
            list-style: none;
        }
    </style>
</head>
<body>

   <nav><a href="/pessoas/criar">Pessoas</a></nav><br>

   <% usuarios.forEach((usuario) => { %>
    <li><%= usuario.nome %></li><br>
   <% }) %> 

    </div>
</body>
</html>